In [6]:
import pandas as pd

In [48]:
#读表，根据sheet名
df1 = pd.read_excel('AAAA.xlsx', sheet_name='table1')  
df2 = pd.read_excel('AAAA.xlsx', sheet_name='table2')  
df3 = pd.read_excel('AAAA.xlsx', sheet_name='table3')

In [50]:
# 只是检查有没有重复数据，不影响结果
duplicates = df3['BARCODE_CN'].duplicated()
duplicate_rows = df3[duplicates]
print("BARCODE_CN重复的数据 ")
print(len(duplicate_rows))

BARCODE_CN重复的数据
0

In [25]:
#检查一下，默认打印五条数据
df1.head()

     *:仓库        barcode       *:中国码 *:欧洲码    *:品牌   *:货品名称  inv
0  SAND主仓  3607170718888     170/92A    40  SANDRO   V5653E    0
1  SAND主仓  3607170763093     170/92A     3  SANDRO   T9660E    0
2  SAND主仓  3607171030248     160/84A     1  SANDRO   V6571H    0
3  SAND主仓  3607171271245   ONLY SIZE    TU  SANDRO  AC2111E    1
4  SAND主仓  3607171377220  192cm*50cm    TU  SANDRO  AC2156W    0

In [51]:
df3.head(10) #打印十条数据

,BRANDS,REF,REF_DESC,SEASON,CODECOLORIS,COLOR_CN,LONG_SIZE,BARCODE_CN,FAMILY_EN
0,Sandro,V6960H,H17 Hazal,SS19,44,深蓝色/NAVY BLUE,36,3607171180202,BLAZER
1,Sandro,V6960H,H17 Hazal,SS19,44,深蓝色/NAVY BLUE,38,3607171180219,BLAZER
2,Sandro,V6960H,H17 Hazal,SS19,44,深蓝色/NAVY BLUE,40,3607171180226,BLAZER
3,Sandro,P6055H,H17 Gloria,SS19,44,深蓝色/NAVY BLUE,36,3607171180240,TROUSERS
4,Sandro,P6055H,H17 Gloria,SS19,44,深蓝色/NAVY BLUE,38,3607171180257,TROUSERS
5,Sandro,P6055H,H17 Gloria,SS19,44,深蓝色/NAVY BLUE,40,3607171180264,TROUSERS
6,Sandro,SA908H,H17 Pepita,SS19,20,黑色/BLACK,TU,3607171160686,BAG
7,Sandro,T8641W,H12 Tsh CLASH,SS19,48,靛蓝色/INDIGO,XS,3607171174423,KNITTED T SHIRT
8,Sandro,T8641W,H12 Tsh CLASH,SS19,48,靛蓝色/INDIGO,S,3607171174430,KNITTED T SHIRT
9,Sandro,T8641W,H12 Tsh CLASH,SS19,48,靛蓝色/INDIGO,M,3607171174447,KNITTED T SHIRT

In [15]:

merged_df = pd.merge(df3, df1[['barcode', 'inv']], left_on='BARCODE_CN', right_on='barcode', how='left')
merged_df.head()
# 删除多余的 "barcode "列
merged_df = merged_df.drop(columns=['barcode'])
# 清理数据，没有值的设置为0
# excel里面的命令-->   =IFERROR(VLOOKUP([@[BARCODE_CN]], $K:$L, 12, FALSE), "0")
merged_df['inv'] = merged_df['inv'].fillna(0)
# 导出 做 privot分析
merged_df.to_excel('merged_result.xlsx', index=False)

In [41]:
# 检查 只查看库存不为0的行，不影响结果
filtered_df = merged_df[merged_df['inv'] != 0]
filtered_df.head(10)

,BRANDS,REF,REF_DESC,SEASON,CODECOLORIS,COLOR_CN,LONG_SIZE,BARCODE_CN,FAMILY_EN,inv
58,Sandro,C10946S,E17 HIDDEN,AW20,10,白色/WHITE,37,3607171142378,SHIRT,1.0
931,Sandro,P6062W,H17 ALPHA,SS20,27,浅灰色/LIGHT GREY,42,3607171410620,TROUSERS,1.0
938,Sandro,S30057E,E19Emma,SS20,11,淡褐色/ECRU,0,3607171414079,SWEATER,16.0
939,Sandro,S30057E,E19Emma,SS20,11,淡褐色/ECRU,1,3607171414086,SWEATER,121.0
940,Sandro,S30057E,E19Emma,SS20,11,淡褐色/ECRU,2,3607171414093,SWEATER,20.0
941,Sandro,S30057E,E19Emma,SS20,11,淡褐色/ECRU,3,3607171414109,SWEATER,2.0
1086,Sandro,SA560E,E16 Addict,E21,6051,PEONY,TU,3607171432431,BAG,1.0
1454,Sandro,J4294E,E19Milla,AW20,20,黑色/BLACK,0,3607171415113,SKIRT,1.0
1455,Sandro,J4294E,E19Milla,AW20,20,黑色/BLACK,1,3607171415120,SKIRT,60.0
1456,Sandro,J4294E,E19Milla,AW20,20,黑色/BLACK,2,3607171415137,SKIRT,13.0

In [52]:

# 按品牌和季节分组，计算库存总和
summary_df = merged_df.groupby(['BRANDS', 'SEASON'])['inv'].sum().reset_index()
print("每个品牌、每个季节的库存汇总:")
summary_df.head(10)

每个品牌、每个季节的库存汇总:

  BRANDS SEASON     inv
0     CP   AW19     1.0
1     CP   AW20     2.0
2     CP    E21  1575.0
3     CP    E22  2582.0
4     CP    E23  3395.0
5     CP    E24   612.0
6     CP    H21  1454.0
7     CP    H22  2393.0
8     CP    H23  1037.0
9     CP   SS19     0.0

In [40]:
summary_df2 = merged_df.groupby(['BRANDS', 'FAMILY_EN'])['inv'].sum().reset_index()
print("每个品牌和 FAMILY_EN 的库存汇总：")
print(summary_df2)

 Inventory Summary per Brand and FAMILY_EN:
     BRANDS  FAMILY_EN     inv
0        CP        BAG     0.0
1        CP       BELT     0.0
2        CP     BLAZER     0.0
3        CP        Bag   122.0
4        CP       Belt    40.0
..      ...        ...     ...
137  Sandro        TIE     0.0
138  Sandro   TROUSERS     1.0
139  Sandro  Tee Shirt  6685.0
140  Sandro        Top   609.0
141  Sandro  WOVEN TOP     0.0

[142 rows x 3 columns]

In [61]:
#定位到每款REF&COLOR,库存大于200件的有多少个款
grouped_df = merged_df.groupby(['REF', 'COLOR_CN'])['inv'].sum().reset_index()
filtered_df3 = grouped_df[grouped_df['inv'] > 200]
models_count_per_group = filtered_df3.groupby(['REF', 'COLOR_CN']).size().reset_index(name='model_count')
print(" > 200:")
models_count_per_group.head(469)

 > 200:

            REF   COLOR_CN  model_count
0    MFPBL00526   驼色/CAMEL            1
1    MFPBL00545    蓝色/BLUE            1
2    MFPBL00548   黑色/BLACK            1
3    MFPBL00577   淡褐色/ECRU            1
4    MFPBL00611    蓝色/BLUE            1
..          ...        ...          ...
464  SFPVE00752   淡褐色/ECRU            1
465  SFPVE00763       深蓝色/            1
466  SFPVE00780        蓝色/            1
467  SFPVE00796     红色/RED            1
468  SFPVE00797  米黄色/BEIGE            1

[469 rows x 3 columns]

## 表二没用上

In [33]:
df2.head()

            SKU  销售件数
0  SFPCA0082224    60
1  SFPCA0069923    32
2  SFPOU0051916    35
3  SFPVE0090610    34
4  SFPCA0089711    38

In [39]:
# Check for duplicate values in 'SKU' column
duplicates2 = df2['SKU'].duplicated()
# Display rows with duplicate values
duplicate_rows2 = df2[duplicates2]
print("Rows with duplicate 'SKU' values:")
print(duplicate_rows2)
df2_merged = df2.groupby('SKU', as_index=False)['salenumber'].sum()
print("==========")

print(df2_merged)

Rows with duplicate 'SKU' values:
                  SKU  salenumber
347      SFPCA0055360           4
438    SFPVE00666A267           3
713    SFPCM00793D288           0
1137    SFPJU00606401           0
1143     SFPPU0189784           0
...               ...         ...
9636   MFPJE002130076           0
9637   MFPCA002150130           0
9638   MFPBL004440103           0
9639   MFPPU004482517           0
9640  E19TAILLEUR0002           0

[3404 rows x 2 columns]
==========
               SKU  salenumber
0        04B4E1749           0
1        06B2E1909           0
2     100P6H180221           0
3       101M1E1704           0
4      101T5E17100           0
...            ...         ...
6232      V6823W20           0
6233      V7111S47           0
6234      V7458E20           0
6235      V7462E11           0
6236      V7464E84           0

[6237 rows x 2 columns]